<% include ../partials/header %>
    <div class="container">
        <div class="row">
            <h1 style="text-align: center;">Add a new Skill for <%=employee.name%></h1>
            <div style="width: 30%; margin: 25px auto;">
                <form action="/employees/<%=employee._id%>/skills" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="number" name="skill[communication]" placeholder="communication">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="number" name="skill[productKnowledge]" placeholder="productKnowledge">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-block btn-lg bt-primary">Submit</button>
                    </div>

                </form>
                <a href="/employees">Go back</a>
            </div>
        </div>
    </div>
    <% include ../partials/footer %>